
html,
body {
   height: 100%;
   margin: 0;
}
 
section {
   height: 100%;
   padding: 3em;
}
 
.overlay {
   background-color:  #fff0f3;
   color:  #f2cc8f ;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   clip-path: circle(20% at var(--x, 50%) var(--y, 50%));
   transition: clip-path 50ms;
   z-index: 1000;
}
.overlay a {
   color: #f2cc8f;
}
.section-1 {
   background-color: #84a59d;
   color: aliceblue;
}

.overlay .button-index {
   padding: 8px 16px;
   font-size: 1.5rem;
   font-weight: 600;
   background-color: #f2cc8f;
   color: #fff0f3;
   font-family: "Oswald", sans-serif;
   border-radius: 15px;
}
.section-1 .button-index{
   padding: 8px 16px;
   font-size: 1.5rem;
   font-weight: 600;
   background-color: aliceblue;
   color: #84a59d;;
   font-family: "Oswald", sans-serif;
   border-radius: 15px;
}
.nombre {
   font-family: "Oswald", sans-serif;
   font-size: 10rem;
   text-align: left;
   font-weight: 600;
   margin-bottom: 20px;
}
.div-home {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 8;
}
 
.is-open {
   clip-path: circle(200% at 100% 100%);
   transition: clip-path 0.2s;
   transition-timing-function:cubic-bezier(1,-0.01, .01, .99);
}

@media (max-width: 768px) {
   .nombre {
      font-size: 5rem;
   }
   .overlay .button-index {
      padding: 4px 8px;
      font-size: 1rem;
   }
    .section-1 .button-index{
      padding: 4px 8px;
      font-size: 1rem;
   }
}