.list
{
    margin-top: 125px;
}

.project-wrapper
{
    margin: 20px;
}

.bottom-padding
{
    padding-bottom: 15px;
}

.cta-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex: none;
  display: flex;
}

.project-item-wrapper {
  z-index: 1;
  border-bottom: 1px solid rgba(255,255,255,0.14);
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  transition: all .35s;
  display: flex;
  position: relative;
}

.project-item-wrapper:hover {
  background-color: #0000;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 0;
  transform: none;
}

.white-line {
  background-color: #a5a5a5;
  width: 100%;
  height: 1px;
}

.inter.white-text {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.inter.white-text:hover {
  color: #ffffff;
  transform: none;
}

.grey-text {
  color: rgba(255,255,255,0.5);
  flex: 1;
  font-weight: 400;
  transition: all .35s;
}

.information-wrapper {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

.grey-text.hover-read {
  z-index: 33;
  cursor: pointer;
  flex: 1;
  transition-property: color;
  transition-timing-function: ease;
  display: block;
  position: relative;
}

@media screen and (max-width: 991px)
{
    .side-margin {
    flex: none;
    margin-left: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 479px)
{
    .side-margin {
        flex: 1;
        width: 100%;
    }
}